RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www.devmeki.xo.je [NC]
RewriteRule ^(.*)$ https://devmeki.xo.je/$1 [L,R=301]

RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:CF-Visitor} !{"scheme":"https"}
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]